@model MAMS_Models.Model.Sale
@{
    ViewData["Title"] = "Sale Crop Edit";
    List<MAMS_Models.Model.CropAndBag> Crops = new List<MAMS_Models.Model.CropAndBag>();
    List<MAMS_Models.Model.CropAndBag> Bags = new List<MAMS_Models.Model.CropAndBag>();
    List<MAMS_Models.Model.Expense> ExpenseList = new List<MAMS_Models.Model.Expense>();
    List<MAMS_Models.Model.CustomerType> CustomersType = new List<MAMS_Models.Model.CustomerType>();
    
    Crops = ViewBag.Crops;
    Bags = ViewBag.Bags;
    ExpenseList = ViewBag.Expenses;

    CustomersType = ViewBag.CustomersTypeList;

    IEnumerable<SelectListItem> CropList = Crops.Select(x => new SelectListItem() { Text = x.Name, Value = x.UID.ToString() });
    IEnumerable<SelectListItem> BagsList = Bags.Select(x => new SelectListItem() { Text = x.Name, Value = x.UID.ToString() });
    IEnumerable<SelectListItem> CustomersTypeList = CustomersType.Select(x => new SelectListItem() { Text = x.Name, Value = x.UID.ToString() });
}
<script src="~/js/jquery-191-min.js"></script>
<form id="BasicForm">
    <!-- #region Purchase detail form -->
    <div class="card">
        <div class="card-header card-header-primary">
            <h5 class="card-title"><i class="fab fa-accusoft"></i> Stock Sale</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4" style="display:none">
                    <div class="form-group">
                        <label class="bmd-label-floating">Weight In Maun</label>
                        <input type="number" class="form-control" min="0" id="idUID" value="@Model.UID">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @*<label class="bmd-label-floating"> Customer Type</label>*@
                        <select class="form-select form-control" required id="slctCusType" onchange="getCustType(this);" asp-for="@Model.FK_CustomerType">
                            <option value="">Select Customer Type</option>
                            <option value="Merchant">Merchant</option>
                            <option value="Farmer">Farmer</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @*<label class="bmd-label-floating"> Customer Name</label>*@
                        <select class="form-select form-control" required id="slctCusName" asp-items="@CustomersTypeList" asp-for="@Model.Fk_Customer">
                            <option value="">Select Customer Name</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @*<label class="bmd-label-floating">Crop Type</label>*@
                        <select class="form-select form-control" required id="slctCrop" asp-items="@CropList" asp-for="@Model.Fk_Crop">
                            <option value="">Select Crop Type</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row" id="inputsRow">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">Weight In Maun</label>
                        <input type="number" class="form-control" min="0" id="idWeightInMaun" value="@Model.WeightInMaun">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">Weight In KG</label>
                        <input type="number" class="form-control" min="0" id="idWeightInKG" value="@Model.WeightInkg">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating" id="lblTotallWeight">Totall Weight In Maun </label>
                        <input type="text" class="form-control" disabled id="totallWeight" value="@Model.TotalCropWeight">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">Price per Maun</label>
                        <input type="number" class="form-control" min="0" id="idPricePerMaun" value="@Model.PriceInMaun">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">Price per KG</label>
                        <input type="number" class="form-control" min="0" id="idPricePerKG" value="@Model.PriceInKg">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating" id="lblTotallWeight">Total Price </label>
                        <input type="text" class="form-control" disabled id="totallPrice" value="@Model.TotalCropPrice">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @*<label class="bmd-label-floating"> Bag Type</label>*@
                        <select class="form-select form-control" required id="slctBagType" asp-items="@BagsList" asp-for="@Model.FK_BagType">
                            <option value="">Select Bag Type</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" id="BagFB">
                        <label class="bmd-label-floating"> Bag Weight</label>
                        <input type="number" class="form-control" min="0" id="idBagWeight" value="@Model.BagWeight">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" id="BagFB">
                        <label class="bmd-label-floating">Totall Bags</label>
                        <input type="number" class="form-control" min="0" id="idTotallBags" value="@Model.BagTotal">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- #endregion -->
    <!-- #region Expense form -->
    <div class="card">
        <div class="card-header card-header-primary">
            <h5 class="card-title"><i class="far fa-newspaper"></i> Expense</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3 col-md-3">
                    <div class="form-group">
                        <label class="bmd-label-floating">Expense Details </label>
                        <input type="text" class="form-control" id="expDes">
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    <div class="form-group">
                        <label class="bmd-label-floating">Amount</label>
                        <input type="number" class="form-control" id="amount" min="0">
                    </div>

                </div>
                <div class="col-sm-2 col-md-2">
                    <div class="form-group">
                        <a class="btn btn-primary " id="btnAdd">
                            <i class="fa fa-plus"></i>
                            Add
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <label class="bmd-label-floating">Price With Expense </label>
                        <input type="text" class="form-control" id="idPriceWithExpense" disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="container">
                        <table id="expnsTable" class="table table-striped table-bordered table-hover fontJameel">
                            <thead>
                                <tr class="heading" role="row">
                                    <th width="20%" tabindex="0" class="sorting textAllignRight" aria-controls="datatable_orders" rowspan="1" colspan="1">  Expense &nbsp; </th>
                                    <th width="15%" tabindex="0" class="sorting textAllignRight" aria-controls="datatable_orders" rowspan="1" colspan="1">  Amount &nbsp; </th>
                                    <th width="10%" tabindex="0" class="sorting textAllignRight" aria-controls="datatable_orders" rowspan="1" colspan="1" style="text-align:center">  Action &nbsp; </th>
                                </tr>
                            </thead>
                            <tbody id="itemTableBody"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:15px">
                <div class="col-sm-3 col-md-3" id="idLblPriceWithExpense">
                    <label class="bmd-label-floating">Total Expense</label>
                    <input type="text" class="form-control" id="idTotalExpense" disabled>
                </div>
            </div>

        </div>
    </div>



    <!-- #endregion -->
    <!-- #region Submitt button of purchase -->
    <div class="row float-right">
        <div class="form-group">
            <a type="button" class="btn btn-success btn-round " id="btnBack" asp-controller="Purchase" asp-action="Index">
                @*<i class="fa fa-arrow-left"></i>*@ Back
            </a>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-round" id="btnSave">Save</button>
            <div class="clearfix"></div>
        </div>

    </div>
    <!-- #endregion -->
</form>

<!-- #region  alert -->
<div id="alertSuccess" data-notify="container" class="col-11 col-md-4 alert alert-success alert-with-icon animated fadeInDown" role="alert" data-notify-position="top-center" style="display: inline-block; margin: 15px auto; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 1031; top: 20px; left: 0px; right: 0px;">
    <button type="button" aria-hidden="true" class="close" data-notify="dismiss" style="position: absolute; right: 10px; top: 50%; margin-top: -9px; z-index: 1033;">
        <i class="material-icons">close</i>
    </button><i data-notify="icon" class="material-icons">add_alert</i><span data-notify="title"></span> <span data-notify="message"><b>Stock Sale</b> <br> crop recored move into sale successfuly!</span>
    <a href="#" target="_blank" data-notify="url"></a>
</div>
<div id="alertDanger" data-notify="container" class="col-11 col-md-4 alert alert-danger alert-with-icon animated fadeInDown" role="alert" data-notify-position="top-center" style="display: inline-block; margin: 15px auto; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 1031; top: 20px; left: 0px; right: 0px;">
    <button type="button" aria-hidden="true" class="close" data-notify="dismiss" style="position: absolute; right: 10px; top: 50%; margin-top: -9px; z-index: 1033;">
        <i class="material-icons">close</i>
    </button><i data-notify="icon" class="material-icons">add_alert</i><span data-notify="title"></span> <span data-notify="message"><b>Crop</b> <br>Purchased crop update not successfuly!</span>
    <a href="#" target="_blank" data-notify="url"></a>
</div>
<!-- #endregion -->
<!-- #region Loader -->
<div class="overlay">
    <div id="loading-img"></div>
</div>
<!-- #endregion -->
<!-- #region Javascript -->
@section Scripts {

    <script src="~/js/sweetalert2.js"></script>
    <script src="~/js/bootstrap-notify.js"></script>
}
<script type="text/javascript">
    $("#alertSuccess").hide();
    $("#alertDanger").hide();
    var itemDetailList = [];

    debugger;
    $("#btnAdd").click(function () {

        debugger;
        var itemDetails;
        var description = $.trim($("#expDes").val());
        var amount = $.trim($("#amount").val());
        if (description == "" || amount == "" || parseInt(amount) == 0) {
            //doNothing
        }
        else {
            $('#expnsTable tbody').append('<tr class="child">' +
                '<td><font class="fontsize">' + description + '</font></td>' +
                '<td><font class="fontsize">' + amount + '</font></td>' +
                '<td><div class="text-center">' +
                '<button class="icon-btn" style="height:30px;min-width:35px;margin:0;padding:0;border:0px" id="btnDelExpns">' +
                '<i class="fa fa-trash" style="color:red"></i>' +
                ' </button>' +
                '</div></td>' +
                '</tr>');
            debugger;
            itemDetails = { Description: description, ExpenseAmmount: amount };
            itemDetailList.push(itemDetails);
            $("#expDes").val("");
            $("#amount").val("");

            var items = 0;
            $('#expnsTable tbody tr td:nth-child(2)').each(function () {
                items = items + parseInt($(this).text());
            });
            var price = $("#totallPrice").val();
            if (price == "") {
                price = "0";
            }
            var priceWithExp = parseInt(price) + parseInt(items);
            $("#idTotalExpense").val(parseInt(items) + '  RS');
            $("#idPriceWithExpense").val(parseInt(priceWithExp) + '  RS');


        }

    });


    $("#expnsTable").on('click', "#btnDelExpns", function () {

        var row = $(this).closest('tr');
        var iId = $.trim($(this).closest('tr').find("td:eq(3)").text());
        var itmPrice = $.trim($(this).closest('tr').find("td:eq(1)").text());


        var fKCustomerType = $('#slctCusType').val();
        var fkCustomer = $('#slctCusName').val();
        var fkCrop = $('#slctCrop').val();
        var weightInMaun = $('#idWeightInMaun').val();
        var weightInkg = $('#idWeightInKG').val();
        var totalCropWeight = $('#totallWeight').val();
        var pricePerMaun = $('#idPricePerMaun').val();
        var pricePerKG = $('#idPricePerKG').val();
        var totallPrice = $('#totallPrice').val();
        var bagType = $('#slctBagType').val();
        var bagWeight = $('#idBagWeight').val();
        var totallBags = $('#idTotallBags').val();
        var UID = parseInt($('#idUID').val());

        var price = $("#idPriceWithExpense").val();
        if (price == "") {
            price = "0";
        }
        var priceWithExp = parseInt(price) - parseInt(itmPrice);
        var items = 0;
        $('#expnsTable tbody tr td:nth-child(2)').each(function () {
            items = items + parseInt($(this).text());
        });
        items = items - parseInt(itmPrice);

        var model =
        {
            UID: UID,
            CustomerType: fKCustomerType,
            Fk_CustomerId: fkCustomer,
            Fk_Crop: parseInt(fkCrop),
            WeightInMaun: parseInt(weightInMaun),
            WeightInkg: parseFloat(weightInkg),
            TotalCropWeight: parseFloat(totalCropWeight),

            PriceInMaun: pricePerMaun,
            PriceInKg: parseFloat(pricePerKG),
            TotalCropPrice: totallPrice,
            TotalAmountwithExp: priceWithExp,
            TotalExp: items,

            FK_BagType: parseInt(bagType),
            BagWeight: parseInt(bagWeight),
            BagTotal: parseInt(totallBags)

        };
        var expItem = { ExpDescription: '', Amount: parseInt(itmPrice), UID: parseInt(iId) };
        $("#txtExpenseDescription").val("");
        $.confirm({

            theme: 'material',
            title: ' Confirm ',
            content: ' Delete Confirmation ',
            type: 'orange',
            typeAnimated: true,
            buttons: {
                cancel: {
                    text: 'Cancel',
                    btnClass: 'btn-red',
                    action: function () {
                    }
                },
                tryAgain: {
                    text: 'Yes',
                    btnClass: 'btn-green',
                    action: function () {

                        $.each(itemDetailList, function (i, val) {
                            if (val != null) {

                                var iiID = val.UID;
                                if (iiID == parseInt(iId)) {


                                    $.ajax({
                                        type: "PUT",
                                        url: "/Purchase/UpdatePurchaseCropWithExpense",
                                        data: {
                                            'model': model,
                                            'expItem': expItem
                                        },
                                        success: function (data) {

                                            var dataObj1 = JSON.parse(data.data.response);
                                            if (dataObj1 == "Success") {
                                                $("#alertSuccess").show();
                                                setTimeout(function () {
                                                    $("#alertSuccess").hide();

                                                }, 5000);

                                            }
                                            else {
                                                $("#alertDanger").show();
                                                setTimeout(function () {
                                                    $("#alertDanger").hide();
                                                }, 5000);

                                            }


                                        },
                                        error: function (jqXHR, textStatus, errorThrown) {
                                            alert('error Successfull');
                                            alert('Error: ' + textStatus + ' - ' + errorThrown);
                                        }
                                    });


                                    itemDetailList.splice($.inArray(val, itemDetailList), 1);
                                    row.remove();




                                    $("#idTotalExpense").val(parseInt(items) + '  RS');
                                    $("#idPriceWithExpense").val(parseInt(priceWithExp) + '  RS');
                                }

                            }
                        });

                    },
                    error: function () {
                    },
                    complete: function () {
                        hideLoader();
                    },
                }

            }
        });
        return false;
    });

    function getCustType(type) {

        var type = type.value;
        if (type != "") {
            $.ajax({
                type: "POST",
                url: "/Purchase/GetCustomerType",
                data: {
                    'cusType': type
                },
                success: function (data) {

                    $('#slctCusName').empty();
                    $('#slctCusName').append('<option value="">Select Customer Name</option> ');
                    $.each(data.data.customers, function (i, e) {

                        $('#slctCusName').append(new Option(e.name, e.uid));
                    });


                },
                error: function (jqXHR, textStatus, errorThrown) {

                    alert('Error: ' + textStatus + ' - ' + errorThrown);
                }
            });
        }

    }

    $('#idWeightInMaun').on('input', function (e) {
        $('#idPricePerMaun').val("");
        $('#idPricePerKG').val("");
        $('#totallPrice').val("");
        $("#idPriceWithExpense").val("");
        $("#idPricePerKG").removeAttr("disabled");
        $("#idPricePerMaun").removeAttr("disabled");
        $('#idPricePerKG').css('padding', '.375rem .75rem;');
        $('#idPricePerMaun').css('padding', '.375rem .75rem;');
        var weightInMaun = $('#idWeightInMaun').val();
        var weightInKG = $('#idWeightInKG').val();
        if (weightInKG == "") {
            weightInKG = "0";
        }
        if (weightInMaun == "") {
            weightInMaun = "0";
        }
        var totallWeight = parseFloat(weightInMaun) + (parseFloat(weightInKG) / 40);
        $('#totallWeight').val(totallWeight);

        var items = 0;
        $('#expnsTable tbody tr td:nth-child(2)').each(function () {
            items = items + parseInt($(this).text());
        });
        var price = $("#totallPrice").val();
        if (price == "") {
            price = "0";
        }
        var priceWithExp = parseInt(price) + parseInt(items);
        $("#idPriceWithExpense").val(parseInt(priceWithExp) + '  RS');
    });
    $('#idWeightInKG').on('input', function (e) {
        $('#idPricePerMaun').val("");
        $('#idPricePerKG').val("");
        $('#totallPrice').val("");
        $("#idPriceWithExpense").val("");
        $("#idPricePerKG").removeAttr("disabled");
        $("#idPricePerMaun").removeAttr("disabled");
        $('#idPricePerKG').css('padding', '.375rem .75rem;');
        $('#idPricePerMaun').css('padding', '.375rem .75rem;');
        var weightInMaun = $('#idWeightInMaun').val();
        var weightInKG = $('#idWeightInKG').val();
        if (weightInKG == "") {
            weightInKG = "0";
        }
        if (weightInMaun == "") {
            weightInMaun = "0";
        }
        var totallWeight = parseFloat(weightInMaun) + (parseFloat(weightInKG) / 40);
        $('#totallWeight').val(totallWeight);

        var items = 0;
        $('#expnsTable tbody tr td:nth-child(2)').each(function () {
            items = items + parseInt($(this).text());
        });
        var price = $("#totallPrice").val();
        if (price == "") {
            price = "0";
        }
        var priceWithExp = parseInt(price) + parseInt(items);
        $("#idPriceWithExpense").val(parseInt(priceWithExp) + '  RS');
    });
    //Calculate total price per maun
    $('#idPricePerMaun').on('input', function (e) {

        var PriceInMaun = $('#idPricePerMaun').val();
        var totallWeight = $('#totallWeight').val();
        if (PriceInMaun != "" && PriceInMaun != "0" && totallWeight != "" && totallWeight != "0") {

            $("#idPricePerKG").prop("disabled", true);

            var weightBeforePoint = parseInt(totallWeight.toString().split(".")[0]);
            var weightAfterPoint = parseFloat(totallWeight) - weightBeforePoint;
            weightAfterPoint = weightAfterPoint * 40;
            weightBeforePoint = weightBeforePoint * 40;
            var totallWeightInKG = weightBeforePoint + weightAfterPoint;

            var pricePerKG = parseInt(PriceInMaun) / 40;
            var totallPrice = pricePerKG * totallWeightInKG;
            $("#idPricePerKG").val(pricePerKG);
            $("#totallPrice").val(parseInt(totallPrice) + '  RS');
            $("#idPriceWithExpense").val(parseInt(totallPrice) + '  RS');

            var items = 0;
            $('#expnsTable tbody tr td:nth-child(2)').each(function () {
                items = items + parseInt($(this).text());
            });
            var price = $("#totallPrice").val();
            if (price == "") {
                price = "0";
            }
            var priceWithExp = parseInt(price) + parseInt(items);
            $("#idPriceWithExpense").val(parseInt(priceWithExp) + '  RS');
        }
        else {
            $("#idPricePerKG").removeAttr("disabled");
            $('#idPricePerKG').css('padding', '.375rem .75rem');
            $("#totallPrice").val("");
            $("#idPricePerKG").val("");
            $("#idPriceWithExpense").val("");

            var items = 0;
            $('#expnsTable tbody tr td:nth-child(2)').each(function () {
                items = items + parseInt($(this).text());
            });
            var price = $("#totallPrice").val();
            if (price == "") {
                price = "0";
            }
            var priceWithExp = parseInt(price) + parseInt(items);
            $("#idPriceWithExpense").val(parseInt(priceWithExp) + '  RS');
        }
    });
    //Calculate total price per KG
    $('#idPricePerKG').on('input', function (e) {
        var pricePerKG = $('#idPricePerKG').val();
        var totallWeight = $('#totallWeight').val();
        if (pricePerKG != "" && pricePerKG != "0" && totallWeight != "" && totallWeight != "0") {

            $("#idPricePerMaun").prop("disabled", true);

            var weightBeforePoint = parseInt(totallWeight.toString().split(".")[0]);
            var weightAfterPoint = parseFloat(totallWeight) - weightBeforePoint;
            weightAfterPoint = weightAfterPoint * 40;
            weightBeforePoint = weightBeforePoint * 40;
            var totallWeightInKG = weightBeforePoint + weightAfterPoint;

            var pricePerMaun = parseInt(pricePerKG) * 40;
            var totallPrice = parseInt(pricePerKG) * totallWeightInKG;
            $("#idPricePerMaun").val(pricePerMaun);
            $("#totallPrice").val(parseInt(totallPrice) + '  RS');
            $("#idPriceWithExpense").val(parseInt(totallPrice) + '  RS');

            var items = 0;
            $('#expnsTable tbody tr td:nth-child(2)').each(function () {
                items = items + parseInt($(this).text());
            });
            var price = $("#totallPrice").val();
            if (price == "") {
                price = "0";
            }
            var priceWithExp = parseInt(price) + parseInt(items);
            $("#idPriceWithExpense").val(parseInt(priceWithExp) + '  RS');
        }
        else {
            $("#idPricePerMaun").removeAttr("disabled");
            $('#idPricePerMaun').css('padding', '.375rem .75rem');
            $("#totallPrice").val("");
            $("#idPricePerMaun").val("");
            $("#idPriceWithExpense").val("");

            var items = 0;
            $('#expnsTable tbody tr td:nth-child(2)').each(function () {
                items = items + parseInt($(this).text());
            });
            var price = $("#totallPrice").val();
            if (price == "") {
                price = "0";
            }
            var priceWithExp = parseInt(price) + parseInt(items);
            $("#idPriceWithExpense").val(parseInt(priceWithExp) + '  RS');
        }


    });

    $('input[type=number]').on('mousewheel', function (e) {
        $(e.target).blur();
    });

    /* $("#btnSave").click(function () {*/
    $('form').on('submit', function (e) {
        

        var fKCustomerType = $('#slctCusType').val();
        var fkCustomer = $('#slctCusName').val();
        var fkCrop = $('#slctCrop').val();
        var weightInMaun = $('#idWeightInMaun').val();
        var weightInkg = $('#idWeightInKG').val();
        var totalCropWeight = $('#totallWeight').val();
        var pricePerMaun = $('#idPricePerMaun').val();
        var pricePerKG = $('#idPricePerKG').val();
        var totallPrice = $('#totallPrice').val();
        var bagType = $('#slctBagType').val();
        var bagWeight = $('#idBagWeight').val();
        var totallBags = $('#idTotallBags').val();
        var UID = parseInt($('#idUID').val());
        var priceWithExpense = parseInt($('#idPriceWithExpense').val());
        var totalExpense = parseInt($('#idTotalExpense').val());

        if (isNaN(priceWithExpense)) {
            priceWithExpense = parseInt(totallPrice);
        }

        if (isNaN(totalExpense)) {
            totalExpense = 0;
        }

        var cashInHand = parseInt('@ViewBag.CashHistory');

        if (fKCustomerType.length > 0 && fkCustomer.length > 0 && fkCrop.length > 0 && totalCropWeight.length > 0 && totallPrice.length > 0 && cashInHand >= parseInt(priceWithExpense)) {
            totallPrice = parseInt(totallPrice);
            e.preventDefault();
            debugger;
            var model =
            {

                UID: UID,
                FK_CustomerType: fKCustomerType,
                Fk_Customer: fkCustomer,
                Fk_Crop: parseInt(fkCrop),
                WeightInMaun: parseInt(weightInMaun),
                WeightInkg: parseFloat(weightInkg),
                TotalCropWeight: parseFloat(totalCropWeight),

                PriceInMaun: pricePerMaun,
                PriceInKg: parseFloat(pricePerKG),
                TotalCropPrice: totallPrice,
                TotalAmountwithExp: priceWithExpense,
                TotalExp: totalExpense,
                PurchasePrice: '@Model.PurchasePrice',
                PurchaseExp:'@Model.PurchaseExp',
                FK_BagType: parseInt(bagType),
                BagWeight: parseInt(bagWeight),
                BagTotal: parseInt(totallBags)

            };

            var expItems = new Array();
            $("#expnsTable tbody").find('tr').each(function (i) {

                var $tds = $(this).find('td'), description = $tds.eq(0).text(), amount = $tds.eq(1).text(), expuid = $tds.eq(3).text();
                itemDetails = { ExpDescription: description, Amount: parseInt(amount), UID: parseInt(expuid) };
                expItems.push(itemDetails);
            });
            // var modelQueryString = $.param(model);
            // var expItemsQueryString = expItems.map(function (item, index) {
            //     return $.param(item, `expItems[${index}]`);
            // }).join('&');

            // var queryString = modelQueryString + '&' + expItemsQueryString;
            $.ajax({
                type: "PUT",
                url: "/Sale/StockSaleAdd",
                data: {
                    'model': model,
                    'expItems': expItems
                },
                success: function (data) {
                    debugger;
                    var dataObj1 = JSON.parse(data.data.response);
                    if (dataObj1 == "Success") {
                        $("#alertSuccess").show();
                        setTimeout(function () {
                            window.location.href = '/Purchase/Index';
                        }, 2000);
                        $('#slctCusType').val("");
                        $('#slctCusName').val("");
                        $('#slctCrop').val("");
                        $('#idWeightInMaun').val("");
                        $('#idWeightInKG').val("");
                        $('#totallWeight').val("");
                        $('#idPricePerMaun').val("");
                        $('#idPricePerKG').val("");
                        $('#totallPrice').val("");
                        $('#slctBagType').val("");
                        $('#idBagWeight').val("");
                        $('#idTotallBags').val("");
                        $('#idPriceWithExpense').val("");
                        $('#idTotalExpense').val("");
                        $('#expnsTable tbody').empty();
                        $("#totallWeight").parent().next(".validation").remove();
                        $("#totallPrice").parent().next(".validation").remove();
                        $("#idPriceWithExpense").parent().next(".validation").remove();
                    }
                    else {
                        $("#alertDanger").show();
                        setTimeout(function () {
                            $("#alertDanger").hide();
                        }, 5000);

                    }


                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('error Successfull');
                    alert('Error: ' + textStatus + ' - ' + errorThrown);
                }
            });

            return false;
        }
        else {

            $("#totallWeight").parent().next(".validation").remove();
            $("#totallPrice").parent().next(".validation").remove();
            $("#idPriceWithExpense").parent().next(".validation").remove();

            if (cashInHand < parseInt(priceWithExpense)) {
                $("#idPriceWithExpense").parent().after("<div class='validation' style='color:red;margin-bottom: 20px;'>Total Cash is less then Purchase</div>");
            }
            if (totalCropWeight == "") {
                $("#totallWeight").parent().after("<div class='validation' style='color:red;margin-bottom: 20px;'>Please enter weight</div>");
            }
            if (totallPrice == "") {
                $("#totallPrice").parent().after("<div class='validation' style='color:red;margin-bottom: 20px;'>Please enter price</div>");
            }
            return false;
        }


    });

    debugger;

    var ExpenseList = [
        { Description: "Sample expense 1", ExpenseAmount: 100, IsOld: false },
        { Description: "Sample expense 2", ExpenseAmount: 200, IsOld: true }
    ];

    // Check if any expense is marked as old
    var hasOldExpense = ExpenseList.some(function (expense) {
        return expense.IsOld;
    });

    if (hasOldExpense) {



        $("#btnDelExpns").prop("disabled", true);
        $("#idPriceWithExpense").prop("disabled", true);
        $("#idTotalExpense").prop("disabled", true);
    }
    debugger;
    var expenses = @Html.Raw(Json.Serialize(ExpenseList));
    jQuery.each(expenses, (index, item) => {


        var itemDetails;
        var description = item.expDescription;
        var amount = item.amount;
        var uid = item.uid;

        $('#expnsTable tbody').append('<tr class="child">' +
            '<td><font class="fontsize">' + description + '</font></td>' +
            '<td><font class="fontsize">' + amount + '</font></td>' +
            '<td><div class="text-center">' +
            // '<button class="icon-btn" style="height:30px;min-width:35px;margin:0;padding:0;border:0px" id="btnDelExpns">' +
            // '<i class="fa fa-trash" style="color:red"></i>' +
            // ' </button>' +
            '</div></td>' +
            '<td style="display: none;"><font class="fontsize">' + uid + '</font></td>' +
            '</tr>');
        itemDetails = { UID: uid, Description: description, ExpenseAmmount: amount };
        itemDetailList.push(itemDetails);
        $("#expDes").val("");
        $("#amount").val("");

        var items = 0;
        $('#expnsTable tbody tr td:nth-child(2)').each(function () {
            items = items + parseInt($(this).text());
        });
        var price = $("#totallPrice").val();
        if (price == "") {
            price = "0";
        }
        var priceWithExp = parseInt(price) + parseInt(items);
        $("#idTotalExpense").val(parseInt(items) + '  RS');
        $("#idPriceWithExpense").val(parseInt(priceWithExp) + '  RS');

    });

    $(document).ready(function () {
        $('#myForm').on('submit', function (event) {
            var selectedValue = $('#slctBagType').val();
            if (selectedValue === "") {
                event.preventDefault(); // Prevent form submission
                alert('Please select a Bag Type.'); // Show an alert or add custom error handling here
            }
        });
    });
    function showLoader() {
        $(".overlay").show();
    }
    function hideLoader() {
        $(".overlay").hide();
    }
</script>
<!-- #endregion -->
<!-- #region   Style/CSS -->
<style>
    input#idPricePerKG {
        padding-left: 0px;
    }

    input {
        text-align: center;
    }

    .validation {
        color: red;
        margin-bottom: 20px;
    }

    input#idTotalExpense {
        min-width: 60px;
        max-width: 120px;
        /*margin-left: 110px;*/
        margin-top: -36px;
    }

    label#idLblPrcWithExp {
        margin-top: 35px;
    }

    input#idPriceWithExpense {
        /* padding-left: 130px;*/
        font-weight: 600;
    }

    #idLblPriceWithExpense {
        margin-top: -20px;
    }

    input#totallWeight {
        /*  padding-left: 155px;*/
        font-weight: 600;
    }

    input#totallPrice {
        /*padding-left: 50px;*/
        font-weight: 600;
    }

    i.fa.fa-plus {
        font-size: 15px !important;
    }

    #btnSave {
        background-color: #35663b;
    }

    #btnBack {
        background-color: #35663b;
    }

    #btnAdd {
        background-color: #2e9ead;
        border-color: #0cb9cf;
        color: white;
    }

    i.material-icons {
        float: left;
    }

    input.form-control {
        border: 0px;
    }

    label {
        font-size: 16px;
    }

    option {
        color: #fff;
        background-color: #363945;
    }

    select {
        border: 0px !important;
    }

    div#inputsRow {
        margin-top: 1%;
    }

    input#totallWeight {
        border-bottom: 1px dotted #d2d2d2;
    }

    #loading-img {
        z-index: 100;
        background: url("../images/ajax-loading.gif") center center no-repeat;
        height: 100%;
    }

    .overlay {
        background: #e9e9e9;
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.5;
    }
</style>
<!-- #endregion -->
