@model List<MAMS_Models.Model.CropAndBag>
@{
    ViewData["Title"] = "Crop";
}
<script src="~/js/ToolTip.js"></script>

<!-- #region Crop Lis --> 
<div class="card ">
    <div class="card-header card-header-primary">
        <h5 class="card-title"><i class="fab fa-pagelines"></i> Crops And Bag List</h5>
        @*<p class="card-category">Complete your profile</p>*@
    </div>
    <div class="card-body">
        
        <a asp-action="CropAdd" asp-controller="Crop" class="btn btn-success btn-circle" style="margin-left: 10px;  font-size: 11px"> <i class="fa fa-plus-circle" style="vertical-align: middle;"></i> Add Crop And Bag</a>
        <div class="table-responsive">
            <table class="table" id="tblDetailList">
                <thead class=" text-primary">
                <th width="3%" tabindex="0" class="bold" aria-controls="tblDetailList" rowspan="1"
                    colspan="1">
                    # &nbsp;
                </th>
                <th width="15%" tabindex="0" class="bold"
                    arial-sort="descending" aria-controls="tblDetailList" rowspan="1" colspan="1">
                    Name
                </th>
                <th width="15%" tabindex="0" class="bold"
                    arial-sort="descending" aria-controls="tblDetailList" rowspan="1" colspan="1">
                    Type
                </th>
                <th width="10%" tabindex="0" class="bold"
                    arial-sort="descending" aria-controls="tblDetailList" rowspan="1" colspan="1">
                    Created Date
                </th>
                <th width="5%" tabindex="0" class="bold"
                    arial-sort="descending" aria-controls="tblDetailList" rowspan="1" colspan="1">
                    Created By
                </th>
                <th width="10%" tabindex="0" class="sorting bold" aria-controls="tblDetailList" rowspan="1" colspan="1"> Actions&nbsp;&nbsp;&nbsp;</th>
                </thead>
                <tbody>
                    @{
                        int num = 1;
                    }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td width="3%" tabindex="0" class="sorting" aria-controls="tblDetailList" rowspan="1" colspan="1"> &nbsp;@num</td>
                            <td width="5%" tabindex="0" class="sorting_1 id" rowspan="1" colspan="1" style="display:none;">@item.UID &nbsp;</td>
                            <td width="5%" tabindex="0" class="sorting_1" aria-controls="tblDetailList" rowspan="1" colspan="1">@item.Name</td>
                            <td width="5%" tabindex="0" class="sorting_1" aria-controls="tblDetailList" rowspan="1" colspan="1">@item.Type</td>
                            <td width="10%" tabindex="0" class="sorting" aria-controls="tblDetailList" rowspan="1" colspan="1">@item.CreatedDate.ToString("dd/M/yyyy")</td>
                            <td width="10%" tabindex="0" class="sorting" aria-controls="tblDetailList" rowspan="1" colspan="1">@item.UserName</td>
                            <td width="10%" tabindex="0" class="sorting" aria-controls="datatable_orders" rowspan="1" colspan="1">
                                <a asp-action="EditCrop" asp-controller="Crop" asp-route-Id="@item.UID" class=" btn btn-circle btn-sm"><i class="fa fa-edit" data-toggle="tooltip" data-placement="bottom" title="Edit Crop"></i></a>
                                <a class="btn btn-circle btn-sm" name="btnDel" id="@item.UID"><i class="fa fa-trash" data-toggle="tooltip" data-placement="bottom" title="Delete Crop"></i></a>
                            </td>
                        </tr>
                        num++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- #endregion -->
<!-- #region Scripts -->
@section Scripts {

    <link href="~/css/confirm.css" rel="stylesheet" />
    <script src="~/js/confirm.js"></script>

}
<!-- #endregion -->
<!-- #region   javascript -->
<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $("#tblDetailList").on('click', "a[name='btnDel']", function () {
            
            var uId = $.trim($(this).closest('tr').find("td:eq(1)").text());
            $.confirm({
                theme: 'modern',//material modern
                title: 'DELETE!',
                content: 'Are you sure you want to delete Crop?',
                type: 'green',
                typeAnimated: true,
                buttons:
                {
                    tryAgain:
                    {
                        text: 'No',
                        btnClass: 'btn-green',
                    }, warning:
                    {
                        text: 'Yes',
                        btnClass: 'btn-blue',
                        action: function () {
                            
                            $.ajax({
                                type: "post",
                                url: "/Crop/DeleteCrop",
                                data: { cropId: uId },
                                success: function (data) {
                                    
                                    if (data == 1) {
                                        location.reload();
                                    }
                                    else {
                                        alert("Crop Delete faild");
                                    }


                                }
                            });
                        }
                    }


                }
            });


        });

    });
</script>
<!-- #endregion -->
<!-- #region Style -->
<style>
    a.btn.btn-circle.btn-sm {
        border: 0px;
        background-color: rgb(204 204 204 / 15%);
        font-size: 10px;
        color: darkgreen;
        padding: 5px
    }
</style>
<!-- #endregion -->
